###### country code -> country
###### 1. `us` -> United State
###### 2. `india` -> India
###### 3. `brazil` -> Brazil
###### 4. `france` -> France
###### 5. `russia` -> Russia
###### 6. `uk` -> United Kingdom
###### 7. `turkey` -> Turkey
###### 8. `italy` -> Italy
###### 9. `spain` -> Spain
###### 10. `germany` -> Germany
###### 11. `pakistan` ->	Pakistan
###### 12. `bangladesh` -> Bangladesh
###### 13. `nepal` -> Nepal
###### 14. `sri-lanka` -> Sri Lanka
###### 15. `china` -> China
###### 16. `afghanistan` -> Afghanistan

In [1]:
# country code -> country
# us -> United State
# india -> India
# brazil -> Brazil
# france -> France
# russia -> Russia
# uk -> United Kingdom
# turkey -> Turkey
# italy -> Italy
# spain -> Spain
# germany -> Germany
# pakistan ->	Pakistan
# bangladesh -> Bangladesh
# nepal -> Nepal
# sri-lanka -> Sri Lanka
# china -> China
# afghanistan -> Afghanistan


con = input("Enter country code (Please enter a valid code otherwise it will not work) : ")
while(con != 'india' and con != 'us' and con != 'brazil' and con != 'france' and con != 'rassia' and con != 'uk' and con != 'turkey' and con != 'france' and con != 'itly' and con != 'spain'
and con != 'germany' and con != 'pakistan' and con != 'bangladesh' and con != 'nepal' and con != 'sri-lanka' and con != 'china' and con != 'afganistan'):
  con = input("you have enter wrong country code (Please enter a valid code otherwise it will not work) : ")
print(con)

Enter country code (Please enter a valid code otherwise it will not work) : india
india

In [2]:
# referece from https://www.dataquest.io/blog/web-scraping-python-using-beautiful-soup/
import requests
from bs4 import BeautifulSoup

# https://www.worldometers.info/coronavirus/#countries

URL = 'https://www.worldometers.info/coronavirus/country/{country}/'.format(country = con)
page = requests.get(URL)

soup = BeautifulSoup(page.content, 'html.parser')

In [3]:
#print(soup.prettify())

In [4]:
#list(soup.children)

In [5]:
#html = list(soup.children)[9]
#print(html)
#list(html.children)

In [6]:
#body = list(html.children)[5]
#print(body)
#list(body.children)

In [7]:
#res = list(body.children)[7]
#list(res.children)[7]

In [8]:
#list(res.children)[9]

In [50]:
last_upd = soup.find(attrs={"style" : "font-size:13px; color:#999; text-align:center"})
last_time = list(last_upd)[0].split(':')
last_upd_time_tit = last_time[0]
last_upd_time = last_time[1].strip() +':' + last_time[2]
print(last_upd_time_tit)
print(last_upd_time)

Last updated
April 21, 2021, 05:44 GMT

In [28]:
#soup.find_all('div')

In [10]:
results = soup.find_all('div', id='maincounter-wrap')
#print(results)

In [11]:
print(results[0])

<div id="maincounter-wrap" style="margin-top:15px">
<h1>Coronavirus Cases:</h1>
<div class="maincounter-number">
<span style="color:#aaa">15,616,130 </span>
</div>
</div>

In [12]:
cor_cas1 = list(list(results[0])[1])[0].strip(':')
cor_cas = cor_cas1.split()[1]

cor_cas_data = list(list(list(results[0])[3])[1])[0].strip()

In [13]:
print(results[1])

<div id="maincounter-wrap" style="margin-top:15px">
<h1>Deaths:</h1>
<div class="maincounter-number">
<span>182,570</span>
</div>
</div>

In [14]:
det_tit = list(list(results[1])[1])[0].strip(':')
det_data = list(list(list(results[1])[3])[1])[0]

In [15]:
rec = list(results[2])
print(rec)

['\n', <h1>Recovered:</h1>, '\n', <div class="maincounter-number" style="color:#8ACA2B ">
<span>13,276,039</span>
</div>, '\n']

In [16]:
rec_title = list(rec[1])[0].strip(':')
#print(rec_title)

In [17]:
rec_data = list(list(rec[3])[1])[0]
#print(rec_data)

In [51]:
data = { cor_cas: cor_cas_data, rec_title: rec_data, det_tit: det_data , last_upd_time_tit: last_upd_time  }
print(data)

{'Cases': '15,616,130', 'Recovered': '13,276,039', 'Deaths': '182,570', 'Last updated': 'April 21, 2021, 05:44 GMT'}

In [52]:
import json
# this will return json string
json_object = json.dumps(data)
# this will return dict
json_object_dic = json.loads(json_object)
print(json_object)

{"Cases": "15,616,130", "Recovered": "13,276,039", "Deaths": "182,570", "Last updated": "April 21, 2021, 05:44 GMT"}

In [20]:
type(json_object)

str

In [53]:
import pandas as pd
dct = {k:[v] for k,v in json_object_dic.items()}  # WORKAROUND
df = pd.DataFrame(dct)

In [54]:
df.head()

        Cases   Recovered   Deaths               Last updated
0  15,616,130  13,276,039  182,570  April 21, 2021, 05:44 GMT

In [23]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Cases</th>\n      <th>Recovered</th>\n      <th>Deaths</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>15,616,130</td>\n      <td>13,276,039</td>\n      <td>182,570</td>\n    </tr>\n  </tbody>\n</table>'


> **Final report**

In [55]:
from IPython.display import display, HTML

display(HTML(df.to_html()))